<header class="navbar navbar-fixed-top navbar-material-deeppurple">
	<div class="container">
		<%= link_to "mustgo", root_path, id: 'logo', class: 'navbar-brand' %>
		<nav>
			<ul class="nav navbar-nav pull-right">
				<li><%= link_to "Home", root_path %></li>
				<li><%= link_to "Help", help_path %></li>
				<li><%= link_to "About", about_path %></li>
				<li><%= link_to "Contact", contact_path %></li>
				<li><%= link_to "Sign Up", signup_path %></li>
			</ul>
		</nav>
	</div>
</header>		